node_modules/
dist/
venv/
__pycache__/
*.pyc
*.pyo
.env
.DS_Store
*.egg-info/
Log_console/
install_daemon.pid
install_daemon_log.txt
*.tgz
*.log
release/
.backup/
opt/
squashfs-root/
usr/
etc/
user_config_analysis/
*.so
*.pak
*.asar
squashfs-root
resources
